.App {
  text-align: center;
}

body, html {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-title {
  margin-bottom: 20px;
}


.reg-form {
  width: 250px;
}

.switch-link {
  margin-top: 5px;
  font-size: 15px;
}

.first-symbol {
  color: #007bff;
}

.inline-error {
  font-size: 14px;
  color: red;
}

.card {
  width: 400px !important;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  overflow: hidden;
  padding: 10px;
}

.glyphicon-heart-empty {
  width: 10px;
  height: 10px;
}

.title-pub {
  display: flex;
}

.title-pub .title {
  font-size: 16px;
  display: flex !important;
}

.card-text .text-muted {
  font-size: 14px;
}

.pub-data {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-body {
  padding-bottom: 0px !important;
  flex-direction: column;
}

.like {
  cursor: pointer;
}

.pencil-icon {
  margin-left: 20px;
  cursor: pointer;
  transform: scale(-1, 1);
}

.count-like {
  font-size: 16px;
  padding-left: 6px;
}

.like-wrapper {
  display: flex;
  height: 25px;
  margin-bottom: 5px;
}

.card {
  margin-bottom: 20px !important;
}

.form {
  padding-top: 200px;
}

.comment-wrapper {
  display: flex;
}

.comment-wrapper .title {
  font-size: 14px;
}

.comment-wrapper .comment-avatar {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 15px;
}

.comment-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.title-comments {
  font-size: 14px;
}

hr {
  margin: 0;
}

.input-comment {
  background: #282c34
}

.input-group {
  width: 250px !important;
}

.input-group input {
  border-radius: 50px;
}

.commenting-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commenting-input svg {
  margin-bottom: 1.5rem !important;
  margin-left: 0.5rem !important;
  cursor: pointer;
}

.comment-icon {
  padding-left: 10px;
}

.profile-wrapper {
  display: flex;
}

.publication_new {
  font-size: 18px;
  margin-top: 50px;
}

.login-title {
  margin-bottom: 70px;
}

.new-pub-button {
  margin-top: 30px;
}

.reg-form-pub {
  width: 340px;
  margin: 30px;
}

.text-area {
  width: 100%;
  background: #343a40!important;
  color: white;
  outline: none;
  border: 1px solid white;
}

.table-style td, th {
  color: white;
}

.cloud {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
